<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <p>Cover Letter Generator</p>

    <% if(error) { %>

    <% } %>


    <form action="/" method="post">
        <input type="text" placeholder="position" name="position">
        <input type="text" placeholder="company" name="company">
        <input type="submit" name="download">
    </form>
</body>
</html>